<div class="container">

  <div class="entries">
    <h3>Add Item</h3>

    <div class="form-group col-xs-6 col-md-3">
      <label>Item</label>
      <input type="text" class="form-control" placeholder="Item" ng-model='newInventory.item'>
    </div>  

    <div class="form-group col-xs-6 col-md-3">
      <label>Description</label>
      <input type="text" class="form-control" placeholder="Description" ng-model='newInventory.description'>
    </div>  

    <div class="form-group col-xs-6 col-md-3">
      <label>Room</label>
      <input type="text" class="form-control" placeholder="Room" ng-model='newInventory.room'>
    </div>  

    <div class="form-group col-xs-6 col-md-3">
      <label>Value</label>
      <input type="number" class="form-control" placeholder="Value" ng-model='newInventory.value'>
    </div>  

    <button class="btn btn-primary" ng-click='addInventory()'>Submit</button>

  </div>

  <!--current balance-->
    <div ng-if='totalValue !== 0' class="total-balance">
      <h3> The value of all your items is {{totalBalance | currency}}.</h3>
    </div>

  <!-- search -->
    <div ng-show='totalValue !== 0' class="search-div">
      <input type="text" class="form-control search-bar" placeholder="Search" ng-model='searchFilter'>
    </div>


  <!--sort-->

  <table ng-if='totalValue !== 0' class="table">
      <thead>
        <tr>
          <th ng-click='sortBy("item")'><span style="cursor:pointer">Item <span class="glyphicon glyphicon-sort"></span></span></th>
          <th>Description</th>
          <th ng-click='sortBy("room")'><span style="cursor:pointer">Room <span class="glyphicon glyphicon-sort"></span></span></th>
          <th ng-click='sortBy("value")'><span style="cursor:pointer">Value <span class="glyphicon glyphicon-sort"></span></span></th>
          <th>Delete</th>

        </tr>
      </thead>
      <tbody>
        <tr ng-repeat='inventory in inventories | filter:searchFilter | orderBy:sortOrder track by $index'>
          <td>{{inventory.item}}</td>
          <td>{{inventory.description}}</td>
          <td>{{inventory.room}}</td>
          <td>{{inventory.value | currency}}</td> 
            <td>
              <button type="button" class="btn btn-danger btn-sm" ng-click='removeInventory(inventory)'>
                <span class="glyphicon glyphicon-remove"></span>
              </button>
            </td>  
        </tr>
      </tbody>
    </table>  

</div>