
<div class="container">

  <div class="page-header">
  <h1>Log in</h1>
</div>

<form>
  <div class="form-group">
    <label>Username</label>
    <input type="text" class="form-control" ng-model='existingUser.username'>
  </div>

  <div class="form-group">
    <label>Password</label>
    <input type="text" class="form-control" ng-model='existingUser.password'>
  </div>

  <button class="btn btn-primary" ng-click='loginUser()'>Log in</button>
</form>

</div>