
<div class="container">

 <div class="page-header">
  <h1>Register</h1>
</div>

<form>
  <div class="form-group">
    <label>Username</label>
    <input type="text" class="form-control" ng-model='newUser.username'>
  </div>

  <div class="form-group">
    <label>Password</label>
    <input type="text" class="form-control" ng-model='newUser.password'>
  </div>

  <div class="form-group">
    <label>Password again</label>
    <input type="text" class="form-control" ng-model='newUser.passwordMatch'>
  </div>

  <button class="btn btn-success" ng-click='addUser()'>Register</button>
</form>


</div>