<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Home Inventory</title>
  
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
  
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-route/angular-route.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  
    <script src="/js/module.js"></script>
    <script src="/js/controllers.js"></script>
    <script src="/js/services.js"></script>
  
  </head>

  <body ng-app='inventoryApp'>
  
    <nav class="navbar navbar-default">
        <div class="container-fluid" ng-controller='UsersController'>
  
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Home Inventory</a>
          </div>
  
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li ng-if="userLoggedIn"><a class="disabled">Logged in as {{loggedInUsername}}</a>
              <li ng-if="userLoggedIn"><a ng-click="logOut()" style="cursor: pointer">Log out</a></li>
              <li ng-if="!userLoggedIn"><a href="#!login">Log in</a></li>
              <li ng-if="!userLoggedIn"><a href="#!register">Register</a></li>
            </ul>
          </div>
        </div>
    </nav>
  
    <div class="navbar text-center">
      <h2 class="title"><span class="glyphicon glyphicon-lamp"></span>Home Inventory Manager</h2>
    </div>
  
  <div id="main-container" ng-view></div>
  
  </body>
</html>